<section class="login-form">
  <h1>Логин</h1>
  <form [formGroup]="loginForm">
<!--    <form [formGroup]="loginForm" (submit)="loginApplication()">-->

    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input type="text" id="input-login" formControlName="login" matInput required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input type="password" id="input-password"  formControlName="password" matInput required>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button type="submit" color="primary" routerLink="main">Войти</button>
      <!-- <button mat-raised-button type="submit" color="primary" [routerLink]="['/home', startPage]">Войти</button> -->
    </div>
  </form>
</section>
