<div class="container">
  <div class="button">
    <button mat-raised-button (click)="goBack()">Назад</button>
  </div>
  <div class="main" *ngIf="user$ | async as user">
    <mat-card *ngIf="user">
      <mat-card-content>
        <section *ngIf="user.profileImage" class="profile-image">
          <img [src]="user.profileImage" alt="Profile Image"/>
        </section>
        <section class="text">
          <h2>{{ user.userFullName }}</h2>
          <p>{{ user.email }}</p>
          <p>{{ user.phone }}</p>
        </section>
      </mat-card-content>
    </mat-card>
    <section class="table" *ngIf="user.id">
      <app-shopping-table [userId]="user.id"></app-shopping-table>
    </section>
  </div>
  <div class="button"></div>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
