<!--<div>-->
<!--  <canvasjs-chart [options]="productChartOptions"></canvasjs-chart>-->
<!--</div>-->

<!--<div>-->
<!--  <canvasjs-chart [options]="userChartOptions"></canvasjs-chart>-->
<!--</div>-->
<div>
  <apx-chart
    [series]="usersChartOptionsApex.series"
    [chart]="usersChartOptionsApex.chart"
    [xaxis]="usersChartOptionsApex.xaxis"
    [title]="usersChartOptionsApex.title"
  ></apx-chart>
</div>
<div>
  <apx-chart
    [series]="productsChartOptionsApex.series"
    [chart]="productsChartOptionsApex.chart"
    [xaxis]="productsChartOptionsApex.xaxis"
    [title]="productsChartOptionsApex.title"
  ></apx-chart>
</div>



