@import '../../../../theme';

//.dark .chart  {
//  background: map-get($dark-background, app-bar);
//}

//.light .chart {
//  background:  rgb(253 253 252)
//}

.chart {
  padding: 10px;
  border-radius: 20px;
  background: none;
  text-decoration-color: #B4ABB0;
}

