// src/styles.scss

@use '@angular/material' as mat;

@include mat.core();

// Import Google Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

// Define foreground and background elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme Text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config

// Light background
$light-background:    #f4f0ec;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#262542, 20%);
$dark-bg-alpha-4:     rgba(#262542, 0.04);
$dark-bg-alpha-12:    rgba(#262542, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark background
$dark-background:     #262542;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#f4f0ec, 0.04);
$light-bg-alpha-12:   rgba(#f4f0ec, 0.12);

$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Define palettes
$theme-primary: mat.define-palette((
  50: #fef8ee,
  100: #fef8ee,
  200: #fbe6c5,
  300: #fbe6c5,
  400: #fbe6c5,
  500: #fbe6c5,
  600: #fbe6c5,
  700: #f9dbb0,
  800: #f9dbb0,
  900: #f9dbb0,
  A100: #fef8ee,
  A200: #fbe6c5,
  A400: #fbe6c5,
  A700: #f9dbb0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

$theme-accent: mat.define-palette((
  50: #fbe6c5,
  100: #fbe6c5,
  200: #f4b88e,
  300: #f4b88e,
  400: #f4b88e,
  500: #f4b88e,
  600: #f4b88e,
  700: #ca726f,
  800: #ca726f,
  900: #ca726f,
  A100: #fbe6c5,
  A200: #f4b88e,
  A400: #f4b88e,
  A700: #ca726f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

$theme-warn: mat.define-palette((
  50: #ffd9d9,
  100: #ffd9d9,
  200: #ff8181,
  300: #ff8181,
  400: #ff8181,
  500: #ff8181,
  600: #ff8181,
  700: #ff6464,
  800: #ff6464,
  900: #ff6464,
  A100: #ffd9d9,
  A200: #ff8181,
  A400: #ff8181,
  A700: #ff6464,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

// Define new primary color palette for dark theme
$dark-theme-primary: mat.define-palette((
  50: #c5c5d0,
  100: #c5c5d0,
  200: #3e3d62,
  300: #3e3d62,
  400: #3e3d62,
  500: #3e3d62,
  600: #3e3d62,
  700: #282746,
  800: #282746,
  900: #282746,
  A100: #c5c5d0,
  A200: #3e3d62,
  A400: #3e3d62,
  A700: #282746,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
));

// Define themes
$light-theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.define-typography-config(),
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
  typography: mat.define-typography-config(),
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
));

// Apply themes
@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

// Specific component overrides
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
  background-color: #ca726f; // Change button background color to #ca726f
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Round', 'Material Icons', sans-serif;
  .mat-badge-content {
    font-family: 'Comfortaa', sans-serif;
  }
}

// Global styles
* {
  font-family: Comfortaa, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Comfortaa, "Helvetica Neue", sans-serif; }
