@use '@angular/material' as mat;
@use "sass:map";
@use '@angular/cdk' as cdk;


@include mat.core();
@import 'styles';

// Import Google Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Round';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

// Define colors
$dark-primary: #3e3d62;
$dark-accent: #ca726f;
$dark-warn: #ff6464;

$light-bg-color: #f4f0ec;
$dark-bg-color: #262542;
$light-text-color: #B4ABB0;
$dark-text-color: #262542;

$dark-primary-text: rgba($dark-text-color, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$light-primary-text: $light-text-color;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

// Define foreground elements
$mat-light-theme-foreground: (
  base: $dark-text-color,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text-color, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: $dark-text-color,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text-color, 0.26),
  slider-off-active: $dark-disabled-text,
);

$mat-dark-theme-foreground: (
  base: $light-text-color,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text-color, 0.3),
  disabled-text: $light-disabled-text,
  elevation: $light-text-color,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text-color,
  icons: $light-text-color,
  text: $light-text-color,
  slider-min: $light-text-color,
  slider-off: rgba($light-text-color, 0.3),
  slider-off-active: rgba($light-text-color, 0.3),
);

// Define background elements
$light-background: (
  background: $light-bg-color,
  status-bar: darken($light-bg-color, 20%),
  app-bar: darken($light-bg-color, 5%),
  hover: rgba($dark-bg-color, 0.04),
  card: lighten($light-bg-color, 5%),
  dialog: lighten($light-bg-color, 5%),
  tooltip: lighten($dark-bg-color, 20%),
  disabled-button: rgba($dark-bg-color, 0.12),
  raised-button: lighten($light-bg-color, 5%),
  focused-button: $dark-focused,
  selected-button: darken($light-bg-color, 20%),
  selected-disabled-button: darken($light-bg-color, 30%),
  disabled-button-toggle: darken($light-bg-color, 10%),
  unselected-chip: darken($light-bg-color, 10%),
  disabled-list-option: darken($light-bg-color, 10%),
);

$dark-background: (
  app-background-color: $dark-bg-color,
  background: $dark-bg-color,
  status-bar: lighten($dark-bg-color, 20%),
  app-bar: lighten($dark-bg-color, 5%),
  hover: rgba($light-bg-color, 0.04),
  card: lighten($dark-bg-color, 5%),
  dialog: lighten($dark-bg-color, 5%),
  tooltip: lighten($dark-bg-color, 20%),
  disabled-button: rgba($light-bg-color, 0.12),
  raised-button: lighten($dark-bg-color, 5%),
  focused-button: $light-focused,
  selected-button: lighten($dark-bg-color, 20%),
  selected-disabled-button: lighten($dark-bg-color, 30%),
  disabled-button-toggle: lighten($dark-bg-color, 10%),
  unselected-chip: lighten($dark-bg-color, 20%),
  disabled-list-option: lighten($dark-bg-color, 10%),
);

// Define palettes
$theme-primary: mat.define-palette((
  50: #fef8ee,
  100: #fef8ee,
  200: #fbe6c5,
  300: #fbe6c5,
  400: #fbe6c5,
  500: #fbe6c5,
  600: #fbe6c5,
  700: #f9dbb0,
  800: #f9dbb0,
  900: #f9dbb0,
  A100: #fef8ee,
  A200: #fbe6c5,
  A400: #fbe6c5,
  A700: #f9dbb0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

$theme-accent: mat.define-palette((
  50: #fbe6c5,
  100: #fbe6c5,
  200: #f4b88e,
  300: #f4b88e,
  400: #f4b88e,
  500: #f4b88e,
  600: #f4b88e,
  700: #ca726f,
  800: #ca726f,
  900: #ca726f,
  A100: #fbe6c5,
  A200: #f4b88e,
  A400: #f4b88e,
  A700: #ca726f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

$theme-warn: mat.define-palette((
  50: #ffd9d9,
  100: #ffd9d9,
  200: #ff8181,
  300: #ff8181,
  400: #ff8181,
  500: #ff8181,
  600: #ff8181,
  700: #ff6464,
  800: #ff6464,
  900: #ff6464,
  A100: #ffd9d9,
  A200: #ff8181,
  A400: #ff8181,
  A700: #ff6464,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
));

$dark-theme-primary: mat.define-palette((
  50: #c5c5d0,
  100: #c5c5d0,
  200: #3e3d62,
  300: #3e3d62,
  400: #3e3d62,
  500: #3e3d62,
  600: #3e3d62,
  700: #282746,
  800: #282746,
  900: #282746,
  A100: #c5c5d0,
  A200: #3e3d62,
  A400: #3e3d62,
  A700: #282746,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
));

// Define themes
$light-theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  ),
));

// Setting background and foreground
$dark-theme: map.set($dark-theme, 'color', 'background', $dark-background);
$dark-theme: map.set($dark-theme, 'background', $dark-background);
$dark-theme: map.set($dark-theme, 'color', 'foreground', $mat-dark-theme-foreground);
$dark-theme: map.set($dark-theme, 'foreground', $mat-dark-theme-foreground);

$light-theme: map.set($light-theme, 'color', 'background', $light-background);
$light-theme: map.set($light-theme, 'background', $light-background);
$light-theme: map.set($light-theme, 'color', 'foreground', $mat-light-theme-foreground);
$light-theme: map.set($light-theme, 'foreground', $mat-light-theme-foreground);


$has-base: mat.theme-has($dark-theme, base);
$has-color: mat.theme-has($dark-theme, base);

// Mixin for additional styles
@mixin custom-dark-theme {
  mat-nav-list {
    background: map-get($dark-background, app-bar);
  };

  .mat-icon {
    color: $light-text-color;
  };

  .menu > a[mat-list-item].active {
    background-color: $dark-bg-color;
    .mat-icon {
      color: $dark-accent;
    };
    span {
      color: $dark-accent;
    };
  };

  .chart  {
    background: map-get($dark-background, app-bar);
  };

  .main-add-photo {
    background-color: map-get($dark-background, app-bar);
  };

  .main-add-user {
    background-color: $dark-primary;
  };

  --mdc-filled-text-field-focus-label-text-color : $light-text-color;


}

@mixin custom-light-theme {
  mat-nav-list {
    background: map-get($theme-accent, 200);
  };

  .menu > a[mat-list-item].active {
    background-color: $light-bg-color;

    span {
      color: $dark-accent;
    };
  };

  .mat-icon {
    color: $dark-accent;
  };

  .chart {
    background:  rgb(253 253 252)
  };

  .main-add-photo {
    background-color: map-get($theme-accent, 200);
  };

  .main-add-user {
    background-color: $light-bg-color;
  };

  .apexcharts-data-labels .apexcharts-datalabel {
    fill: $dark-bg-color;
  }

  --mdc-filled-text-field-focus-label-text-color : $dark-text-color;
};


// Apply themes
.dark {
  @include mat.all-component-colors($dark-theme);
  @include custom-dark-theme;
}

.light {
  @include mat.all-component-themes($light-theme);
  @include custom-light-theme;

}

// Specific component overrides
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
  background-color: $dark-accent;
}

.mat-standard-chip {
  padding: 0.5em 0.85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons Round', 'Material Icons', sans-serif;
}

.mat-badge-content {
  font-family: 'Comfortaa', sans-serif;
}



