@import '../../../../theme';


.tab-icon {
  margin-right: 8px;
}

a {
  top: 50%;
  border-radius: 0 20px 20px 0;
}

.logo {
  margin-bottom: 50px;
  text-align: center;
}

.theme-control {
  text-align: center;
}

.menu {
  height: 99%;
  //background-color: #3E3D62;
  font-size: 20px;
  float: left;
  position: fixed;
  border-radius: 0 15px 15px 0;
}

.menu > a[mat-list-item] {
  position: relative;
  top: 20px;
  display: block;
  height: 50px;
  text-align: center;
  //float: right;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  line-height: 50px;
  transition: color .5s;
  color: #F4B88E;
}

.dark .menu > a[mat-list-item].active {
  background-color: $dark-bg-color;
}

.light .menu > a[mat-list-item].active {
  background-color: #f4f0ec;
}

.menu > a[mat-list-item].active::after,
.menu > a[mat-list-item].active::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
  z-index: -1;
}

.menu > a[mat-list-item]::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

//.menu > a[mat-list-item].active::after {
//  box-shadow: 0 25px 0 0 #f4f0ec;
//}
//
//.menu > a[mat-list-item].active::before {
//  box-shadow: 0 -25px 0 0 #f4f0ec;
//}

.tab-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.mat-drawer-container {
  margin: 20px;
  //border-top-color: #CA726F;
  display: block;
  position: relative;
}


.dark mat-nav-list {
  background: map-get($dark-background, app-bar);
}

.light mat-nav-list {
  background: map-get($theme-accent, 200);
}

