<mat-nav-list class="menu dark-background">
  <div class="logo">
    <mat-icon class="tab-icon">toll</mat-icon>
    <span>StatZen</span>
  </div>

  <a mat-list-item routerLink="/main/users" routerLinkActive="active">
    <mat-icon class="tab-icon">group</mat-icon>
    <span>Users</span>
  </a>
  <a mat-list-item routerLink="/main/statistics" routerLinkActive="active">
    <mat-icon class="tab-icon">bar_chart</mat-icon>
    <span>Statistics</span>
  </a>
  <a mat-list-item>
    <mat-divider></mat-divider>
  </a>
  <div class="theme-control">
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button mat-icon-button>
      @if (themeService.themeSignal() === 'dark') {
        <mat-icon>bedtime</mat-icon>
      } @else {
        <mat-icon>brightness_5</mat-icon>
      }
    </button>
  </div>
  <a mat-list-item href="/login">
    <mat-icon class="tab-icon">logout</mat-icon>
    <span>Log out</span>
  </a>
</mat-nav-list>
