@import '../../../../theme';

.tab-icon {
  margin-right: 8px;
}

span {
  font-size: 16px;
}

a {
  border-radius: 0 20px 20px 0;
  margin-left: 45px;
}

.logo {
  margin-top: 45px;
  margin-bottom: 200px;
  text-align: center;
}

.theme-control {
  text-align: center;
}

.menu {
  font-size: 20px;
  position: fixed;
  &.desktop {
    height: 99%;
    float: left;
    border-radius: 0 15px 15px 0;
  }
  &.mobile {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px 15px 0 0;
    max-height: 150px;
    font-size: 16px;
    display: flex;
  }
}

mat-divider {
  display: block;
}

.menu > a[mat-list-item] {
  position: relative;
  display: block;
  height: 50px;
  text-align: left;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  line-height: 50px;
  transition: color .5s;
  &.desktop{
    top: 20px;

  };
  &.mobile {

  }
}

.mat-mdc-list-item {
  width: inherit;
}

.menu > a[mat-list-item].active::after,
.menu > a[mat-list-item].active::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 20px;
  height: 50px;
  border-radius: 0 0 25px 0;
  z-index: -1;
}

.menu > a[mat-list-item]::before {
  top: auto;
  bottom: -50px;
  border-radius: 0 25px 0 0;
}

.tab-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.mat-drawer-container {
  margin: 20px;
  display: block;
  position: relative;
}
