<mat-nav-list class="menu">
  <a mat-list-item routerLink="/main/users" routerLinkActive="active">
    <mat-icon class="tab-icon">group</mat-icon>
    <span>Users</span>
  </a>
  <a mat-list-item routerLink="/main/statistics" routerLinkActive="active">
    <mat-icon class="tab-icon">bar_chart</mat-icon>
    <span>Statistics</span>
  </a>
  <a mat-list-item>
    <mat-divider></mat-divider>
  </a>
  <a mat-list-item>
    <mat-icon class="tab-icon">settings</mat-icon>
    <mat-slide-toggle [formControl]="switchTheme">Theme</mat-slide-toggle>
  </a>
  <a mat-list-item href="/login">
    <mat-icon class="tab-icon">logout</mat-icon>
    <span>Log out</span>
  </a>
</mat-nav-list>
